{% extends 'base.html' %}
{% load static %}
{% load humanize %} 
{% block content %}

<!-- Navigation Bar -->
<nav class="navbar bg-dark row" style="padding-top: 10px;">
  <form method="POST" action="../trafficSum/" style="width: 100%;">
    {% csrf_token %}
    <div class="row">
      <div class="col-6"  text-align: left;>
        <select name="floorID" selected='selected' style="width:120px; height:32px; font-size: 16px;" >
          <option value="false" selected disabled hidden>Select Floor</option>
          {% for floor in floorList %}
          <option value="{{ floor.id }}">{{ floor.floorName }}</option>
          {% endfor %}
        </select>
        &nbsp &nbsp
        <span style="color:white">Select Date: </span>
        <input type="text" name="selectedDate" value="" style="width:100px; height:32px; font-size: 16px;">
        &nbsp &nbsp
        <button class="btn btn-light btn-sm" style="font-size: 16px;" type="submit">Update</button>
      </div>
    </div>
  </form>
</nav>
<br>

<!-- Summary Table -->
<h6>No. of People at {{now}}</h6>
<div id="sumTable" style = "width: 98vw;"></div>
<hr>


<div class="row options">
  <div class="col-4 grp_choice">
    <input type="radio" id="hour" name="grp" value="hour" onchange="updateChart();" checked>
    <label for="hour">Hour</label>
    <input type="radio" id="minute" name="grp" value="minute" onchange="updateChart();">
    <label for="minute">Minute</label>
  </div>
</div>
<br>

<!-- Floor Line Chart -->
<div id="minuteFloorChart" style = "width: 98vw; height: 650px;"></div>
<div id="hourFloorChart" style = "width: 98vw; height: 650px;"></div>
<hr>
<br>

<!-- Entrance Line Chart -->
<div id="minuteEntranceChart" style = "width: 98vw; height: 650px;"></div>
<div id="hourEntranceChart" style = "width: 98vw; height: 650px;"></div>
<br>
{% endblock %}	


{% block scripts %} 
<!-- Date picker -->
<script>
  $(function() {
    $('input[name="selectedDate"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      autoApply: true,
      //"startDate": moment().subtract(13, 'days').format("YYYY-MM-DD"),
      "minDate": "2021-01-01",
      "maxDate": "2025-12-31",
      opens: 'right',
      "locale": {
        "format": "YYYY-MM-DD",
        "firstDay": 0,
      },
    }, function(start, end, label) {
      var years = moment().diff(start, 'years');
    });
  });
</script>

<!-- Minute/Hour Button  -->
<script>
    function updateChart(){
      [["minuteFloorChart", "minute"], 
       ["hourFloorChart", "hour"], 
       ["minuteEntranceChart", "minute"],
       ["hourEntranceChart", "hour"]].forEach((chart)=> {
        if (document.getElementById(chart[1]).checked)
          document.getElementById(chart[0]).removeAttribute("hidden");
        else
          document.getElementById(chart[0]).setAttribute("hidden", '');
      });
    }
    updateChart();
</script>

<!-- Minute - Floor Line Chart -->
<script>
  var chartDom = document.getElementById('minuteFloorChart');
  var myChart = echarts.init(chartDom);
  var option;

  MinutePeopleAtFloor = {{MinutePeopleAtFloor|safe}};
  MinuteTimeStamp = {{MinuteTimeStamp|safe}};

  option = {
    title: {
      text: 'Minute - Princes Building, '+'{{floorName}}'+', '+'{{selectedDate}}',
      left: '8%',
    },
    toolbox: {
        right: '2%',
        feature: {
            saveAsImage: {
              type: 'jpg' ,
            },
            dataView:{
              show:false,
            },
        },
    },
    tooltip: {
      trigger: 'axis'
    },
    xAxis: {
      type: 'category',
      data: MinuteTimeStamp,
      name: 'Time (00:00-24:00)',
      nameLocation: 'center',
      nameTextStyle:{
        fontSize: 16,
      },
      nameGap: 45,
    },
    yAxis: {
      type: 'value',
      name: 'No. of People',
      nameLocation: 'center',
      nameTextStyle:{
        fontSize: 16,
      },
      nameGap: 45,
    },
    series: [
      {
        data: MinutePeopleAtFloor,
        name: 'No. of People',
        type: 'line'
      }
    ]
  };

  option && myChart.setOption(option);
</script>


<!-- Hour - Floor Line Chart -->
<script>
  var chartDom = document.getElementById('hourFloorChart');
  var myChart = echarts.init(chartDom);
  var option;

  HourPeopleAtFloor = {{HourPeopleAtFloor|safe}};
  HourTimeStamp = {{HourTimeStamp|safe}};

  option = {
    title: {
      text: 'Hour - Princes Building, '+'{{floorName}}'+', '+'{{selectedDate}}',
      left: '8%',
    },
    toolbox: {
        right: '2%',
        feature: {
            saveAsImage: {
              type: 'jpg' ,
            },
            dataView:{
              show:false,
            },
        },
    },
    tooltip: {
      trigger: 'axis'
    },
    xAxis: {
      type: 'category',
      data: HourTimeStamp,
      name: 'Time (00:00-24:00)',
      nameLocation: 'center',
      nameTextStyle:{
        fontSize: 16,
      },
      nameGap: 45,
    },
    yAxis: {
      type: 'value',
      name: 'No. of People',
      nameLocation: 'center',
      nameTextStyle:{
        fontSize: 16,
      },
      nameGap: 45,
    },
    series: [
      {
        data: HourPeopleAtFloor,
        name: 'No. of People',
        type: 'line',
      }
    ]
  };

  option && myChart.setOption(option);
</script>

<!-- Summary Table -->
<script>

  const container = document.getElementById("sumTable");

  var data=[{{ summaryTable|safe }}];

  new Handsontable(container, {
    data,
    width: '99%',
    height: 'auto',
    className: "htCenter",
    stretchH: 'all',
    colHeaders: true,
    //rowHeaders: true,
    //rowHeaders: ['No. of People'],
    colHeaders: ['14/F',
                 '15/F',
                 '16/F', 
                 '17/F', 
                 '18/F',
                 '19/F',
                 '20/F',
                 '21/F',
                 '22/F',
                 '23/F',
                 '24/F',
                 'Whole Building',
                 'Enter Building',
                 'Leave Building',
                 'Net Enter',
                ],
    licenseKey: 'non-commercial-and-evaluation'
  });
</script>

<!-- <script>
  const container = document.getElementById('example1');

const data = [
  ['', 'Tesla', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
  ['2017', 10, 11, 12, 13, 15, 16],
  ['2018', 10, 11, 12, 13, 15, 16],
  ['2019', 10, 11, 12, 13, 15, 16],
  ['2020', 10, 11, 12, 13, 15, 16],
  ['2021', 10, 11, 12, 13, 15, 16]
];

const hot = new Handsontable(container, {
  data,
  startRows: 5,
  startCols: 5,
  height: 'auto',
  width: 'auto',
  colHeaders: true,
  minSpareRows: 1,
  licenseKey: 'non-commercial-and-evaluation'
});
</script> -->

<!-- Minute -Entrance Line Chart -->
<script>
  var chartDom = document.getElementById('minuteEntranceChart');
  var myChart = echarts.init(chartDom);
  var option;

  minuteEnterBuilding = {{minuteEnterBuilding|safe}};
  minuteLeaveBuilding = {{minuteLeaveBuilding|safe}};
  minuteNetBuilding = {{minuteNetBuilding|safe}};
  MinuteTimeStamp = {{MinuteTimeStamp|safe}};

  option = {
    title: {
      text: 'Minute - Princes Building, Enter & Leave the Building, '+'{{selectedDate}}',
      left: '8%',
    },
    toolbox: {
        right: '2%',
        feature: {
            saveAsImage: {
              type: 'jpg' ,
            },
            dataView:{
              show:false,
            },
        },
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
      right: '15%',
    },
    xAxis: {
      type: 'category',
      data: MinuteTimeStamp,
      name: 'Time (00:00-24:00)',
      nameLocation: 'center',
      nameTextStyle:{
        fontSize: 16,
      },
      nameGap: 45,
    },
    yAxis: {
      type: 'value',
      name: 'No. of People Enter/Leve',
      nameLocation: 'center',
      nameTextStyle:{
        fontSize: 16,
      },
      nameGap: 45,
    },
    series: [
      {
        data: minuteEnterBuilding,
        name: 'Enter Building',
        type: 'line'
      },
      {
        data: minuteLeaveBuilding,
        name: 'Leave Building',
        type: 'line'
      },
      {
        data: minuteNetBuilding,
        name: 'Net Enter',
        type: 'line'
      }
    ]
  };

  option && myChart.setOption(option);
</script>

<!-- Hour - Entrance Line Chart -->
<script>
  var chartDom = document.getElementById('hourEntranceChart');
  var myChart = echarts.init(chartDom);
  var option;

  hourEnterBuilding = {{hourEnterBuilding|safe}};
  hourLeaveBuilding = {{hourLeaveBuilding|safe}};
  hourNetBuilding = {{hourNetBuilding|safe}};
  HourTimeStamp = {{HourTimeStamp|safe}};

  option = {
    title: {
      text: 'Hour - Princes Building, Enter & Leave the Building, '+'{{selectedDate}}',
      left: '8%',
    },
    toolbox: {
        right: '2%',
        feature: {
            saveAsImage: {
              type: 'jpg' ,
            },
            dataView:{
              show:false,
            },
        },
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
      right: '15%',
    },
    xAxis: {
      type: 'category',
      data: HourTimeStamp,
      name: 'Time (00:00-24:00)',
      nameLocation: 'center',
      nameTextStyle:{
        fontSize: 16,
      },
      nameGap: 45,
    },
    yAxis: {
      type: 'value',
      name: 'No. of People Enter/Leve',
      nameLocation: 'center',
      nameTextStyle:{
        fontSize: 16,
      },
      nameGap: 45,
    },
    series: [
      {
        data: hourEnterBuilding,
        name: 'Enter Building',
        type: 'line'
      },
      {
        data: hourLeaveBuilding,
        name: 'Leave Building',
        type: 'line'
      },
      {
        data: hourNetBuilding,
        name: 'Net Enter',
        type: 'line'
      }
    ]
  };

  option && myChart.setOption(option);
</script>

{% endblock scripts %}